In [1]:
import pandas as pd 
import numpy as np 
import pickle

In [2]:
data = pd.read_csv('Train.csv')
data.head()

,ID,customer_id,country_id,tbl_loan_id,lender_id,loan_type,Total_Amount,Total_Amount_to_Repay,disbursement_date,due_date,duration,New_versus_Repeat,Amount_Funded_By_Lender,Lender_portion_Funded,Lender_portion_to_be_repaid,target
0,ID_266671248032267278,266671,Kenya,248032,267278,Type_1,8448.0,8448.0,2022-08-30,2022-09-06,7,Repeat Loan,120.85,0.014305,121.0,0
1,ID_248919228515267278,248919,Kenya,228515,267278,Type_1,25895.0,25979.0,2022-07-30,2022-08-06,7,Repeat Loan,7768.50,0.300000,7794.0,0
2,ID_308486370501251804,308486,Kenya,370501,251804,Type_7,6900.0,7142.0,2024-09-06,2024-09-13,7,Repeat Loan,1380.00,0.200000,1428.0,0
3,ID_266004285009267278,266004,Kenya,285009,267278,Type_1,8958.0,9233.0,2022-10-20,2022-10-27,7,Repeat Loan,2687.40,0.300000,2770.0,0
4,ID_253803305312267278,253803,Kenya,305312,267278,Type_1,4564.0,4728.0,2022-11-28,2022-12-05,7,Repeat Loan,1369.20,0.300000,1418.0,0

## preprocessing

In [3]:
data.columns

Index(['ID', 'customer_id', 'country_id', 'tbl_loan_id', 'lender_id',
       'loan_type', 'Total_Amount', 'Total_Amount_to_Repay',
       'disbursement_date', 'due_date', 'duration', 'New_versus_Repeat',
       'Amount_Funded_By_Lender', 'Lender_portion_Funded',
       'Lender_portion_to_be_repaid', 'target'],
      dtype='object')

In [4]:
## dropping useless columns 

data = data.drop(['ID', 'customer_id', 'country_id', 'tbl_loan_id', 'lender_id'],axis=1)
data.head()

,loan_type,Total_Amount,Total_Amount_to_Repay,disbursement_date,due_date,duration,New_versus_Repeat,Amount_Funded_By_Lender,Lender_portion_Funded,Lender_portion_to_be_repaid,target
0,Type_1,8448.0,8448.0,2022-08-30,2022-09-06,7,Repeat Loan,120.85,0.014305,121.0,0
1,Type_1,25895.0,25979.0,2022-07-30,2022-08-06,7,Repeat Loan,7768.50,0.300000,7794.0,0
2,Type_7,6900.0,7142.0,2024-09-06,2024-09-13,7,Repeat Loan,1380.00,0.200000,1428.0,0
3,Type_1,8958.0,9233.0,2022-10-20,2022-10-27,7,Repeat Loan,2687.40,0.300000,2770.0,0
4,Type_1,4564.0,4728.0,2022-11-28,2022-12-05,7,Repeat Loan,1369.20,0.300000,1418.0,0

In [5]:
### deal with categoriccal data 

data['loan_type'].unique()

array(['Type_1', 'Type_7', 'Type_5', 'Type_4', 'Type_6', 'Type_14',
       'Type_9', 'Type_10', 'Type_19', 'Type_16', 'Type_2', 'Type_11',
       'Type_23', 'Type_18', 'Type_17', 'Type_12', 'Type_20', 'Type_13',
       'Type_21', 'Type_15', 'Type_24', 'Type_22'], dtype=object)

In [6]:
from sklearn.preprocessing import OneHotEncoder

onehot_encoder_loantype = OneHotEncoder()
loantype_encoder = onehot_encoder_loantype.fit_transform(data[['loan_type']])
loantype_encoded_df = pd.DataFrame(loantype_encoder.toarray(),columns=onehot_encoder_loantype.get_feature_names_out(['loan_type']))
loantype_encoded_df.head()

,loan_type_Type_1,loan_type_Type_10,loan_type_Type_11,loan_type_Type_12,loan_type_Type_13,loan_type_Type_14,loan_type_Type_15,loan_type_Type_16,loan_type_Type_17,loan_type_Type_18,...,loan_type_Type_20,loan_type_Type_21,loan_type_Type_22,loan_type_Type_23,loan_type_Type_24,loan_type_Type_4,loan_type_Type_5,loan_type_Type_6,loan_type_Type_7,loan_type_Type_9
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
data = pd.concat([data.drop('loan_type',axis=1),loantype_encoded_df],axis=1)
data.head()

,Total_Amount,Total_Amount_to_Repay,disbursement_date,due_date,duration,New_versus_Repeat,Amount_Funded_By_Lender,Lender_portion_Funded,Lender_portion_to_be_repaid,target,...,loan_type_Type_20,loan_type_Type_21,loan_type_Type_22,loan_type_Type_23,loan_type_Type_24,loan_type_Type_4,loan_type_Type_5,loan_type_Type_6,loan_type_Type_7,loan_type_Type_9
0,8448.0,8448.0,2022-08-30,2022-09-06,7,Repeat Loan,120.85,0.014305,121.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,25895.0,25979.0,2022-07-30,2022-08-06,7,Repeat Loan,7768.50,0.300000,7794.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6900.0,7142.0,2024-09-06,2024-09-13,7,Repeat Loan,1380.00,0.200000,1428.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,8958.0,9233.0,2022-10-20,2022-10-27,7,Repeat Loan,2687.40,0.300000,2770.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4564.0,4728.0,2022-11-28,2022-12-05,7,Repeat Loan,1369.20,0.300000,1418.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
### new versus repeat column 

data['New_versus_Repeat'].unique()

array(['Repeat Loan', 'New Loan'], dtype=object)

In [9]:
from sklearn.preprocessing import LabelEncoder

label_encoder_new_vs_repeat = LabelEncoder()
data['New_versus_Repeat'] = label_encoder_new_vs_repeat.fit_transform(data['New_versus_Repeat'])
data.head()

,Total_Amount,Total_Amount_to_Repay,disbursement_date,due_date,duration,New_versus_Repeat,Amount_Funded_By_Lender,Lender_portion_Funded,Lender_portion_to_be_repaid,target,...,loan_type_Type_20,loan_type_Type_21,loan_type_Type_22,loan_type_Type_23,loan_type_Type_24,loan_type_Type_4,loan_type_Type_5,loan_type_Type_6,loan_type_Type_7,loan_type_Type_9
0,8448.0,8448.0,2022-08-30,2022-09-06,7,1,120.85,0.014305,121.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,25895.0,25979.0,2022-07-30,2022-08-06,7,1,7768.50,0.300000,7794.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6900.0,7142.0,2024-09-06,2024-09-13,7,1,1380.00,0.200000,1428.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,8958.0,9233.0,2022-10-20,2022-10-27,7,1,2687.40,0.300000,2770.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4564.0,4728.0,2022-11-28,2022-12-05,7,1,1369.20,0.300000,1418.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
#### dealing with date type columns 


data['Date_disbursement']=data['disbursement_date'].str.split('-').str[2]
data['Month_disbursement']=data['disbursement_date'].str.split('-').str[1]
data['Year_disbursement']=data['disbursement_date'].str.split('-').str[0]

In [11]:
data.head()

,Total_Amount,Total_Amount_to_Repay,disbursement_date,due_date,duration,New_versus_Repeat,Amount_Funded_By_Lender,Lender_portion_Funded,Lender_portion_to_be_repaid,target,...,loan_type_Type_23,loan_type_Type_24,loan_type_Type_4,loan_type_Type_5,loan_type_Type_6,loan_type_Type_7,loan_type_Type_9,Date_disbursement,Month_disbursement,Year_disbursement
0,8448.0,8448.0,2022-08-30,2022-09-06,7,1,120.85,0.014305,121.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30,08,2022
1,25895.0,25979.0,2022-07-30,2022-08-06,7,1,7768.50,0.300000,7794.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30,07,2022
2,6900.0,7142.0,2024-09-06,2024-09-13,7,1,1380.00,0.200000,1428.0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,06,09,2024
3,8958.0,9233.0,2022-10-20,2022-10-27,7,1,2687.40,0.300000,2770.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20,10,2022
4,4564.0,4728.0,2022-11-28,2022-12-05,7,1,1369.20,0.300000,1418.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28,11,2022

In [12]:
data['Date_due']=data['due_date'].str.split('-').str[2]
data['Month_due']=data['due_date'].str.split('-').str[1]
data['Year_due']=data['due_date'].str.split('-').str[0]

data.head()

,Total_Amount,Total_Amount_to_Repay,disbursement_date,due_date,duration,New_versus_Repeat,Amount_Funded_By_Lender,Lender_portion_Funded,Lender_portion_to_be_repaid,target,...,loan_type_Type_5,loan_type_Type_6,loan_type_Type_7,loan_type_Type_9,Date_disbursement,Month_disbursement,Year_disbursement,Date_due,Month_due,Year_due
0,8448.0,8448.0,2022-08-30,2022-09-06,7,1,120.85,0.014305,121.0,0,...,0.0,0.0,0.0,0.0,30,08,2022,06,09,2022
1,25895.0,25979.0,2022-07-30,2022-08-06,7,1,7768.50,0.300000,7794.0,0,...,0.0,0.0,0.0,0.0,30,07,2022,06,08,2022
2,6900.0,7142.0,2024-09-06,2024-09-13,7,1,1380.00,0.200000,1428.0,0,...,0.0,0.0,1.0,0.0,06,09,2024,13,09,2024
3,8958.0,9233.0,2022-10-20,2022-10-27,7,1,2687.40,0.300000,2770.0,0,...,0.0,0.0,0.0,0.0,20,10,2022,27,10,2022
4,4564.0,4728.0,2022-11-28,2022-12-05,7,1,1369.20,0.300000,1418.0,0,...,0.0,0.0,0.0,0.0,28,11,2022,05,12,2022

In [13]:
data = data.drop(['disbursement_date','due_date'],axis=1)
data.head()

,Total_Amount,Total_Amount_to_Repay,duration,New_versus_Repeat,Amount_Funded_By_Lender,Lender_portion_Funded,Lender_portion_to_be_repaid,target,loan_type_Type_1,loan_type_Type_10,...,loan_type_Type_5,loan_type_Type_6,loan_type_Type_7,loan_type_Type_9,Date_disbursement,Month_disbursement,Year_disbursement,Date_due,Month_due,Year_due
0,8448.0,8448.0,7,1,120.85,0.014305,121.0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,30,08,2022,06,09,2022
1,25895.0,25979.0,7,1,7768.50,0.300000,7794.0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,30,07,2022,06,08,2022
2,6900.0,7142.0,7,1,1380.00,0.200000,1428.0,0,0.0,0.0,...,0.0,0.0,1.0,0.0,06,09,2024,13,09,2024
3,8958.0,9233.0,7,1,2687.40,0.300000,2770.0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,20,10,2022,27,10,2022
4,4564.0,4728.0,7,1,1369.20,0.300000,1418.0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,28,11,2022,05,12,2022

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68654 entries, 0 to 68653
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Total_Amount                 68654 non-null  float64
 1   Total_Amount_to_Repay        68654 non-null  float64
 2   duration                     68654 non-null  int64
 3   New_versus_Repeat            68654 non-null  int32
 4   Amount_Funded_By_Lender      68654 non-null  float64
 5   Lender_portion_Funded        68654 non-null  float64
 6   Lender_portion_to_be_repaid  68654 non-null  float64
 7   target                       68654 non-null  int64
 8   loan_type_Type_1             68654 non-null  float64
 9   loan_type_Type_10            68654 non-null  float64
 10  loan_type_Type_11            68654 non-null  float64
 11  loan_type_Type_12            68654 non-null  float64
 12  loan_type_Type_13            68654 non-null  float64
 13  loan_type_Type_14            68654 non-null  float64
 14  loan_type_Type_15            68654 non-null  float64
 15  loan_type_Type_16            68654 non-null  float64
 16  loan_type_Type_17            68654 non-null  float64
 17  loan_type_Type_18            68654 non-null  float64
 18  loan_type_Type_19            68654 non-null  float64
 19  loan_type_Type_2             68654 non-null  float64
 20  loan_type_Type_20            68654 non-null  float64
 21  loan_type_Type_21            68654 non-null  float64
 22  loan_type_Type_22            68654 non-null  float64
 23  loan_type_Type_23            68654 non-null  float64
 24  loan_type_Type_24            68654 non-null  float64
 25  loan_type_Type_4             68654 non-null  float64
 26  loan_type_Type_5             68654 non-null  float64
 27  loan_type_Type_6             68654 non-null  float64
 28  loan_type_Type_7             68654 non-null  float64
 29  loan_type_Type_9             68654 non-null  float64
 30  Date_disbursement            68654 non-null  object
 31  Month_disbursement           68654 non-null  object
 32  Year_disbursement            68654 non-null  object
 33  Date_due                     68654 non-null  object
 34  Month_due                    68654 non-null  object
 35  Year_due                     68654 non-null  object
dtypes: float64(27), int32(1), int64(2), object(6)
memory usage: 18.6+ MB

In [15]:
## change the type from object to int 

data['Date_disbursement']=data['Date_disbursement'].astype(int)
data['Month_disbursement']=data['Month_disbursement'].astype(int)
data['Year_disbursement']=data['Year_disbursement'].astype(int)

data['Date_due']=data['Date_due'].astype(int)
data['Month_due']=data['Month_due'].astype(int)
data['Year_due']=data['Year_due'].astype(int)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68654 entries, 0 to 68653
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Total_Amount                 68654 non-null  float64
 1   Total_Amount_to_Repay        68654 non-null  float64
 2   duration                     68654 non-null  int64
 3   New_versus_Repeat            68654 non-null  int32
 4   Amount_Funded_By_Lender      68654 non-null  float64
 5   Lender_portion_Funded        68654 non-null  float64
 6   Lender_portion_to_be_repaid  68654 non-null  float64
 7   target                       68654 non-null  int64
 8   loan_type_Type_1             68654 non-null  float64
 9   loan_type_Type_10            68654 non-null  float64
 10  loan_type_Type_11            68654 non-null  float64
 11  loan_type_Type_12            68654 non-null  float64
 12  loan_type_Type_13            68654 non-null  float64
 13  loan_type_Type_14            68654 non-null  float64
 14  loan_type_Type_15            68654 non-null  float64
 15  loan_type_Type_16            68654 non-null  float64
 16  loan_type_Type_17            68654 non-null  float64
 17  loan_type_Type_18            68654 non-null  float64
 18  loan_type_Type_19            68654 non-null  float64
 19  loan_type_Type_2             68654 non-null  float64
 20  loan_type_Type_20            68654 non-null  float64
 21  loan_type_Type_21            68654 non-null  float64
 22  loan_type_Type_22            68654 non-null  float64
 23  loan_type_Type_23            68654 non-null  float64
 24  loan_type_Type_24            68654 non-null  float64
 25  loan_type_Type_4             68654 non-null  float64
 26  loan_type_Type_5             68654 non-null  float64
 27  loan_type_Type_6             68654 non-null  float64
 28  loan_type_Type_7             68654 non-null  float64
 29  loan_type_Type_9             68654 non-null  float64
 30  Date_disbursement            68654 non-null  int32
 31  Month_disbursement           68654 non-null  int32
 32  Year_disbursement            68654 non-null  int32
 33  Date_due                     68654 non-null  int32
 34  Month_due                    68654 non-null  int32
 35  Year_due                     68654 non-null  int32
dtypes: float64(27), int32(7), int64(2)
memory usage: 17.0 MB

In [17]:
data.head()

,Total_Amount,Total_Amount_to_Repay,duration,New_versus_Repeat,Amount_Funded_By_Lender,Lender_portion_Funded,Lender_portion_to_be_repaid,target,loan_type_Type_1,loan_type_Type_10,...,loan_type_Type_5,loan_type_Type_6,loan_type_Type_7,loan_type_Type_9,Date_disbursement,Month_disbursement,Year_disbursement,Date_due,Month_due,Year_due
0,8448.0,8448.0,7,1,120.85,0.014305,121.0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,30,8,2022,6,9,2022
1,25895.0,25979.0,7,1,7768.50,0.300000,7794.0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,30,7,2022,6,8,2022
2,6900.0,7142.0,7,1,1380.00,0.200000,1428.0,0,0.0,0.0,...,0.0,0.0,1.0,0.0,6,9,2024,13,9,2024
3,8958.0,9233.0,7,1,2687.40,0.300000,2770.0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,20,10,2022,27,10,2022
4,4564.0,4728.0,7,1,1369.20,0.300000,1418.0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,28,11,2022,5,12,2022

In [18]:
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split


X = data.drop('target',axis=1)
y=data['target']



X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)


scaler=StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test =scaler.transform(X_test)

In [19]:
#### load the pickel files 


with open('label_encoder_new_vs_repeat.pkl','wb') as file: 
    pickle.dump(label_encoder_new_vs_repeat,file)
    
    
with open('onehot_encoder_loantype.pkl','wb') as file : 
    pickle.dump(onehot_encoder_loantype,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

# ANN implementation

In [20]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense 
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [21]:
X_train.shape[1]

35

In [22]:
model =Sequential([
        Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## Fisrt HL1 connected with input layer 
        Dense(32,activation='relu'), ## HL2
        Dense(1,activation='sigmoid') ## output layer 
])

c:\Users\Farouk\Desktop\customer defaulting on a loan\venv\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [23]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │         2,304 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 4,417 (17.25 KB)

 Trainable params: 4,417 (17.25 KB)

 Non-trainable params: 0 (0.00 B)

In [24]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss= tensorflow.keras.losses.BinaryCrossentropy()

In [25]:
## in order to do forward and backward propagation we need to compile  this model 

model.compile(optimizer=opt,loss=loss,metrics=['accuracy'])

In [26]:
## set up the tensorboard
log_dir  = 'logs/fit/' + datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [27]:
##set up Early stopping
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True) ## patience 5 epoch befor taking that particular decision

In [28]:
### Train the model 
history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 12s 6ms/step - accuracy: 0.9788 - loss: 0.1005 - val_accuracy: 0.9813 - val_loss: 0.0772
Epoch 2/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.9814 - loss: 0.0797 - val_accuracy: 0.9822 - val_loss: 0.0782
Epoch 3/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.9820 - loss: 0.0759 - val_accuracy: 0.9822 - val_loss: 0.0737
Epoch 4/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 10s 6ms/step - accuracy: 0.9824 - loss: 0.0735 - val_accuracy: 0.9822 - val_loss: 0.0727
Epoch 5/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 10s 6ms/step - accuracy: 0.9825 - loss: 0.0730 - val_accuracy: 0.9829 - val_loss: 0.0717
Epoch 6/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - accuracy: 0.9815 - loss: 0.0754 - val_accuracy: 0.9829 - val_loss: 0.0715
Epoch 7/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.9824 - loss: 0.0728 - val_accuracy: 0.9829 - val_loss: 0.0726
Epoch 8/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - accuracy: 0.9820 - loss: 0.0715 - val_accuracy: 0.9822 - val_loss: 0.0797
Epoch 9/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 10s 6ms/step - accuracy: 0.9813 - loss: 0.0752 - val_accuracy: 0.9834 - val_loss: 0.0615
Epoch 10/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 10s 6ms/step - accuracy: 0.9835 - loss: 0.0616 - val_accuracy: 0.9835 - val_loss: 0.0619
Epoch 11/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - accuracy: 0.9828 - loss: 0.0620 - val_accuracy: 0.9830 - val_loss: 0.0656
Epoch 12/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 10s 6ms/step - accuracy: 0.9849 - loss: 0.0558 - val_accuracy: 0.9843 - val_loss: 0.0542
Epoch 13/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - accuracy: 0.9841 - loss: 0.0565 - val_accuracy: 0.9841 - val_loss: 0.0566
Epoch 14/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - accuracy: 0.9847 - loss: 0.0575 - val_accuracy: 0.9846 - val_loss: 0.0563
Epoch 15/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - accuracy: 0.9858 - loss: 0.0531 - val_accuracy: 0.9849 - val_loss: 0.0514
Epoch 16/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - accuracy: 0.9860 - loss: 0.0514 - val_accuracy: 0.9849 - val_loss: 0.0538
Epoch 17/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 10s 6ms/step - accuracy: 0.9853 - loss: 0.0526 - val_accuracy: 0.9849 - val_loss: 0.0528
Epoch 18/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 10s 6ms/step - accuracy: 0.9849 - loss: 0.0538 - val_accuracy: 0.9857 - val_loss: 0.0513
Epoch 19/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 10s 6ms/step - accuracy: 0.9854 - loss: 0.0522 - val_accuracy: 0.9846 - val_loss: 0.0505
Epoch 20/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - accuracy: 0.9858 - loss: 0.0520 - val_accuracy: 0.9862 - val_loss: 0.0518
Epoch 21/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.9845 - loss: 0.0540 - val_accuracy: 0.9865 - val_loss: 0.0521
Epoch 22/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 7s 4ms/step - accuracy: 0.9853 - loss: 0.0528 - val_accuracy: 0.9849 - val_loss: 0.0689
Epoch 23/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.9858 - loss: 0.0516 - val_accuracy: 0.9856 - val_loss: 0.0510
Epoch 24/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.9860 - loss: 0.0522 - val_accuracy: 0.9857 - val_loss: 0.0521
Epoch 25/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.9855 - loss: 0.0515 - val_accuracy: 0.9846 - val_loss: 0.0583
Epoch 26/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.9863 - loss: 0.0504 - val_accuracy: 0.9852 - val_loss: 0.0524
Epoch 27/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - accuracy: 0.9859 - loss: 0.0526 - val_accuracy: 0.9857 - val_loss: 0.0496
Epoch 28/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - accuracy: 0.9856 - loss: 0.0504 - val_accuracy: 0.9865 - val_loss: 0.0486
Epoch 29/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 10s 6ms/step - accuracy: 0.9862 - loss: 0.0501 - val_accuracy: 0.9862 - val_loss: 0.0482
Epoch 30/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 10s 6ms/step - accuracy: 0.9852 - loss: 0.0506 - val_accuracy: 0.9851 - val_loss: 0.0577
Epoch 31/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - accuracy: 0.9857 - loss: 0.0500 - val_accuracy: 0.9861 - val_loss: 0.0499
Epoch 32/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - accuracy: 0.9854 - loss: 0.0525 - val_accuracy: 0.9858 - val_loss: 0.0477
Epoch 33/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 10s 6ms/step - accuracy: 0.9860 - loss: 0.0503 - val_accuracy: 0.9851 - val_loss: 0.0510
Epoch 34/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 10s 6ms/step - accuracy: 0.9862 - loss: 0.0483 - val_accuracy: 0.9861 - val_loss: 0.0467
Epoch 35/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - accuracy: 0.9858 - loss: 0.0499 - val_accuracy: 0.9857 - val_loss: 0.0487
Epoch 36/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 10s 6ms/step - accuracy: 0.9849 - loss: 0.0518 - val_accuracy: 0.9855 - val_loss: 0.0499
Epoch 37/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 10s 6ms/step - accuracy: 0.9850 - loss: 0.0529 - val_accuracy: 0.9857 - val_loss: 0.0474
Epoch 38/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - accuracy: 0.9853 - loss: 0.0508 - val_accuracy: 0.9849 - val_loss: 0.0531
Epoch 39/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 10s 6ms/step - accuracy: 0.9850 - loss: 0.0518 - val_accuracy: 0.9847 - val_loss: 0.0546
Epoch 40/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - accuracy: 0.9842 - loss: 0.0548 - val_accuracy: 0.9854 - val_loss: 0.0489
Epoch 41/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 10s 6ms/step - accuracy: 0.9856 - loss: 0.0541 - val_accuracy: 0.9784 - val_loss: 0.0862
Epoch 42/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - accuracy: 0.9857 - loss: 0.0513 - val_accuracy: 0.9859 - val_loss: 0.0499
Epoch 43/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - accuracy: 0.9860 - loss: 0.0497 - val_accuracy: 0.9849 - val_loss: 0.0504
Epoch 44/100
1717/1717 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.9854 - loss: 0.0513 - val_accuracy: 0.9851 - val_loss: 0.0535

In [29]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [30]:
### Load Tensorboard Extension 

%load_ext tensorboard

In [32]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 25076), started 0:00:22 ago. (Use '!kill 25076' to kill it.)